# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Angular / Node.js
/dist
/tmp
/out-tsc
/bazel-out
/node_modules
/.angular/cache

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Otros
.sass-cache/
.connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# Archivos de entorno
.env
.env.*

# Sistema
.DS_Store
Thumbs.db
