<h1>Bienvenido a Angular con {{nombre}} - {{title}} </h1>
<h2>{{nombre}}</h2>
<h3>number: {{number}}</h3>

<input type="text" [(ngModel)]="nombre" (input)="addOne()"/>

<br>

@if (condition) {
    <h4>La condición es verdadera</h4>
}

<div style="border: solid 3px red;">
    <mi-componente></mi-componente>
    
    <segundo-componente></segundo-componente>

    <!--
    Esta línea muestra un componente llamado 'app-child'.
    Le pasa dos cosas:
    - Un mensaje de texto ('Text') a la propiedad 'msg'.
    - Una persona (el objeto 'person') a la propiedad 'person'.
    El componente hijo usará esos valores.
    -->
    <app-child [msg]="Text" [person]="person"></app-child>
</div>